**/server/utils/agents/aibitat/example/**
**/server/storage/documents/**
**/server/storage/vector-cache/**
**/server/storage/*.db
**/server/storage/lancedb
**/collector/hotdir/**
**/collector/outputs/**
**/node_modules/
**/dist/
**/v-env/
**/__pycache__/
**/.env
**/.env.*
**/bundleinspector.html
**/tmp/**
**/.log
!docker/.env.example
!frontend/.env.production
# Ignore node_modules everywhere
**/node_modules
**/.pnp
**/.pnp.js

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# Ignore git
.git
.gitignore

# Ignore OS/editor files
.DS_Store
Thumbs.db
.vscode
.idea

# Ignore env files
*.env